extends layout

append head
  title= title
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(src='/javascripts/index.js')
block content
  body
    div#header
      h1= title
      if username
        h3 Signed in as #{username}
      else
        h3 Welcome! Please create an account or sign in to continue...
    if username
      input(placeholder='Search an Event').searchbox#eventsearch
      button.searchbutton#eventsearchbutton
        | Search
      each searchedEvent in searchedEvents
        div.concert#searchedEvent.eventID
          p.concerttitle
            a(href='https://jasonedwardlee.com')= searchedEvent.eventName
          p.concertfield= searchedEvent.eventDate
          p.concertfield= searchedEvent.eventTime
          p.concertfield= searchedEvent.eventTimezone
          p.concertfield= searchedEvent.addressName
          p.concertfield= searchedEvent.addressRoad + ', ' + searchedEvent.adressCity + ', ' + searchedEvent.addressState + ' ' + searchedEvent.addressZip
          button.interested
            | I'm Interested!
    else
      button.outbutton#signup Create an Account
      button.outbutton#signin Sign In