extends layout

append head
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(src='/javascript/index.js')
block content
  body
    div#header
      h1= title
      if username
        h3 Signed in as #{username}
      else
        h3 Welcome! Please create an account or sign in to continue...
    if username
      form(id='eventsearchform')
        input(placeholder='Search an Event').searchbox#eventsearch
        input(type='submit', value='Search').searchbutton#eventsearchbutton
      if searchedEvents
        if searchedEvents.length === 0
          p.noevents No events found. Please try a different search.
        else
          each searchedEvent in searchedEvents
            div(id=searchedEvent.eventID).concert
              button.name.concerttitle= searchedEvent.eventName
              p.date.concertfield= "Date: " + searchedEvent.eventDate
              p.time.concertfield= "Time: " + searchedEvent.eventTime
              p.addressName.concertfield= "Venue Name: " + searchedEvent.addressName
              p.address.concertfield= "Venue Address: " + searchedEvent.addressRoad + ', ' + searchedEvent.addressCity + ', ' + searchedEvent.addressState + ' ' + searchedEvent.addressZip
              button.interested
                | I'm Interested!
    else
      button.outbutton#signup Create an Account
      button.outbutton#signin Sign In