extends layout

append head
  title= title
  link(rel='stylesheet', href='/stylesheets/profile.css')
block content
  body
    div#header
      h1= title
      if username
        h3 Signed in as #{username}
    if username
      h5.field#email= "Email Address: " + email
      h5.field#instagram= "Instagram: @" + instagram
      h5.field#snapchat= "Snapchat: @" + snapchat