extends layout

append head
  title= title
  link(rel='stylesheet', href='/stylesheets/users.css')
  script(src='/javascript/users.js')
block content
  body
    div#header
      h1= title
      if username
        h3 Signed in as #{username}
    if username
      form(id='usersearchform')
        input(placeholder='Search a User').searchbox#usersearch
        input(type='submit', value='Search').searchbutton#usersearchbutton
      if searchedUsers
        if searchedUsers.length === 0
          p.nousers No users found. Please try a different search.
        else
          each searchedUser in searchedUsers
            div.user
              p.username= searchedUser.username
              p.userfield= "Email Address: " + searchedUser.email
              p.userfield= "Instagram: @" + searchedUser.instagram
              p.userfield= "Snapchat: @" + searchedUser.snapchat
              if admin
                button.remove
                  | Remove User